html{
    font-size: 4vw;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    }
    * {
    margin:0;
    padding:0; 
    box-sizing:border-box;
    }
    img, video {
    max-width:100%;
    height: auto;
    
    }
    a{
    text-decoration:none;
    color: #fff;
    }
    li {
    list-style-type:none;
    }
    address {
    font-size:inherit;
    font-style:inherit;
    }
    .visiality-hidden {
    visibility:hidden;
    margin:0;
    padding:0;
    height: 0;
    width: 0;
    }
    
    body {
    background-color: #000;    
    color: #fff;
    }
    h2 {
        font-size: 2vw;  
        font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    text-align: left;
    text-indent: 10vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    }
    .visiality-hidden {
        visibility:hidden;
        margin:0;
        padding:0;
        height: 0;
        width: 0;
        }
      
      
       @media (max-width:390px) {
        .header {
            position: relative;
            width:100vw;
        }
        .header .logo {
            position:absolute;
            width:50vw;
            height: auto;
            top:-5vw;
            left:3.5vw;
   
        }
           .header .exit{
            display:block;
            margin-top: 7vw;
            text-align: right;
            padding-right: 15vw;   
           position:relative;
           margin-bottom: 10vw;
           font-size: 1.2rem;  
           }
           .header .exit::after{
               position:absolute;
               content:"";
               width:5vw;
               height:0.7vw;
               top:2.5vw;
               right:9vw;
               background-color: #fff; 
               transform: rotate(45deg);
              }
              .header .exit::before{
               position:absolute;
               content:"";
               width:5vw;
               height:0.7vw;
               top:2.5vw;
               right:9vw;
               background-color: #fff; 
               transform: rotate(-45deg);
              }
              .header h1 {
                  
               
                text-align: center;
                  margin:0;
                  padding:0;
                  font-size: 1.5rem;
                  font-weight: 300;
                  margin-bottom: 5vw;
                  
              }
              main {
                  width:100vw;
              }

/* контейнер 3 mobil*/ 
     
      .myDIV3 {
        font-size: 1rem;
    
       }
       .myDIV3_contener {
         display:flex;
         flex-direction: column;
      text-align: justify;
    
     
       }
      
       .myDIV3_image1 {
        width:100vw;
        height:60vw;
         background-image: url("image/mobile-service-1024x684.webp");
         background-repeat: no-repeat;
         background-size: cover;
         margin-bottom: 1vw;
       }
       .myDIV3_contener p {
           margin-top: 3vw;
        width:100vw;
   padding-left: 2vw;
   padding-right: 2vw;
       }
       .myDIV3_p1 {
           margin-top: 3vw;
         text-align: center;
         margin-left:2vw;
         color:#498F86;
         font-size: 1.2rem;
    
     
        }
        .myDIV3_ul1 {
         text-align: justify; 
         width:100vw;
         margin-left: 3vw;
         text-indent: 4vw;
         margin-top: 3vw;
         font-size: 1rem;
        font-weight: 100;
       
        }
        .myDIV3_ul1 li {
         padding-bottom: 2vw;
         position: relative; 
         font-style: italic;
        }
        .myDIV3_ul1 li::before{
        content:"";
          background-image:  url('image/galka/galka.svg');
          background-repeat: no-repeat;
          background-size: contain;
          width:4vw;
          height:4vw;
          position: absolute;
          top:0;
          left:0;
      }
      
      .myDIV3_p2 {
        text-align: justify;
       
        width:100vw;
        color:#498F86;
        text-indent: 4vw;
         margin-top: 1vw;
         font-size: 1rem;
         padding-left: 2vw;
   padding-right: 2vw;
       }
       .myDIV3_p3, .myDIV3_p4 {
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: 3vw;
        font-size: 1rem;
        text-indent: 4vw;
        text-align: justify;
       }
       .myDIV3_p4 span {
         color:red;
       }
       .myDIV3_ul2 {
        text-align: justify; 
        width:100vw;
       text-indent: 4vw;
        margin-top: 1vw;
        font-size: 1rem;
      
       
       }
       .myDIV3_ul2 li {
        padding-bottom: 1vw;
        position: relative; 
        font-style: italic;
        padding-left: 2vw;
        padding-right: 2vw;
       }
       .myDIV3_ul2 li::before{
       content:"";
         background-image:  url('image/galka/galka.svg');
         background-repeat: no-repeat;
         background-size: contain;
         width:4vw;
         height:4vw;
         position: absolute;
         top:0;
         left:1.5vw;
      }
      .video {
       margin: 0 auto;
       margin-top: 1vw;
        width:90vw;
      }
      .a_video {
        color:#1B7496;
      }
      
      a_video:hover {
        color:#CDFA2D;
      }
        .myDIV1_social p {
          font-style: italic;      
         padding-bottom: 1vw;  
         text-align: center; 
         font-size: 1.2rem; 
         padding-top: 3vw;
         }
         .myDIV1_social p a{
        color:#498F86;
         position: relative; 
          
        }
        
        .myDIV1_social p a:hover {
         color:#1B7496;
        }
        .myDIV1_social .myDIV1_instagram::before {
         content:"";
         background-image:  url('image/social/Instagram_logo_2016 1.svg');
         width:5vw;
         height: 5vw;
         background-repeat: no-repeat;
         background-size: contain; 
         position: absolute;
         left:-5.5vw;  
        }
        .myDIV1_social .myDIV1_vk::before {
         content:"";
         background-image:  url('image/social/VK.com-logo 1.svg');
         width:5vw;
         height: 5vw;
         background-repeat: no-repeat;
         background-size: contain; 
         position: absolute;
         left:-5.5vw;  
        }
        .form{
          display: block;
          margin-top: 10vw;
          width:100vw;
          height:10vw;
          line-height: 10vw;
      text-align: center;
      background-color: rgba(228, 0, 70, 1);
      margin-bottom: 5vw;

      }
    }